h1 {
  font-family: "Syncopate", sans-serif;
  margin-bottom: 0px;
}

body {
  background: black;
  color: white;
}

hr {
  border: none;
  border-top: 1px solid white;
}

.artistslist {
  display: flex;
  gap: 10px;
  flex-direction: column;
}

.notice {
  font-family: monospace;
}

.notice .important {
  font-weight: bold;
  color: #aaf;
}